<!doctype html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title>学生信息管理</title>
{#        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>#}
{#        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>#}
		<script src="http://code.jquery.com/jquery-1.2.3.min.js"></script>
		<link href="favicon.ico" rel="shortcut icon"/>
        <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
		<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
		<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
			integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous">
		</script>
		<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
		<script src="js/bootstrap/dist/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
		<!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
		<!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->

	</head>
	<body>
		<div id="app">
			<div class="container-fluid" style="margin-top: 60px;">
				<div class="container-fluid col-md-2" style="text-align: center">
					<p class="text-danger">欢迎，使用本系统</p>
					<ul class="nav nav-pills nav-stacked">
						<li role="presentation" class="active"><a href="/index/">疫苗接种信息</a></li>
						<li role="presentation"><a href='/logout/'>退出系统</a></li>
                        <form action="" method="post">
                            <div class="input-group">
                                <span class="input-group-addon">名 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称:</span>
                                <input type="text" class="form-control" placeholder="医院名称" name="name">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">地 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址:</span>
                                <input type="text" class="form-control" placeholder="医院地址" name="address">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">接种标记:</span>
                                <input type="text" class="form-control" placeholder="接种标记" name="tag">
                            </div>

{#                            <li role="presentation" class="active">名 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 称：<input type="text" name="name"></li>#}
{#                            <li role="presentation" class="active">地 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 址：<input type="text" name="address"></li>#}
{#                            <li role="presentation" class="active">接种标记：<input type="text" name="tag"></li>#}
{#                            <li role="presentation" class="active"><input type="submit" value="查询"></li>#}
                            <button type="submit" class="btn btn-primary">按钮</button>
                        </form>

					</ul>
				</div>
				<div class="container-fluid col-md-10">
					<div style="margin-bottom: 10px;">
						<button type="button" class="btn btn-danger"><a href="/add/">插入</a></button>
					</div>
					<table class="table table-bordered">
						<thead>
							<tr>

								<th>名称</th>
								<th>须知</th>
								<th>地址</th>
								<th>联系电话</th>
								<th>接种标记</th>
                                <th>操作</th>
							</tr>
						</thead>
						<tbody>
                            {% for i in info %}
                                <tr>
                                    <th>{{ i.name }}</th>
                                    <th>{{ i.instructions }}</th>
                                    <th>{{ i.address }}</th>
                                    <th>{{ i.mobile}}</th>
                                    <th>{{ i.tag }}</th>
                                    <th>
                                        <a href="/update/?id={{ i.id }}">修改</a>
                                        <a href="/delete/?id={{ i.id }}" onclick="return confirm('确认删除？')">删除</a>
                                    </th>
                                </tr>
                            {% endfor %}
						</tbody>
					</table>

{#                    <p>#}
{#                        <a href="/index?pageindex=1" class="btn btn-default">1</a>#}
{#                        <a href="/index?pageindex=2" class="btn btn-default">2</a>#}
{#                        <a href="/index?pageindex=3" class="btn btn-default">3</a>#}
{#                    </p>#}
                    <div style="text-align: center">
                        {% if info.has_previous %}
                            <a href="?page={{ info.previous_page_number }}"  class="btn btn-info">上一页</a>
                        {% endif %}
                        {% for f in info.paginator.page_range %}
                           <a href="?page={{ f }}"  class="btn btn-info">{{ f }}</a>
                        {% endfor %}
                        {% if info.has_next %}
                            <a href="?page={{ info.next_page_number }}"  class="btn btn-info">下一页</a>
                        {% endif %}
                    </div>
				</div>
			</div>
		</div>
	</body>
</html>
