<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>love</title>
        <link href="favicon.ico" rel="shortcut icon"/>
        <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body style=" background: url(http://global.bing.com/az/hprichbg/rb/RavenWolf_EN-US4433795745_1920x1080.jpg) no-repeat center center fixed; background-size: 100%;">
        <form method="post">
            <div class="modal-dialog" style="margin-top: 10%;">
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title text-center" id="myModalLabel">注册</h4>
                    </div>
                    <div class="modal-body" id="model-body">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="姓名" autocomplete="off" name = "username">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="手机号" autocomplete="off" name = "mobile">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="密码" autocomplete="off" name = "password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="确认密码" autocomplete="off" name = "passwordtwo">
                        </div>
                        <div class="form-group">

                            <input type="text" class="form-control" placeholder="身份证号码" autocomplete="off" name = "id_number">
                        </div>
                        <div class="form-group">

                            <input type="text" class="form-control" placeholder="家庭住址" autocomplete="off" name = "address">
                        </div>
                        <div class="form-group">

                            <input type="text" class="form-control" placeholder="工作单位" autocomplete="off" name = "unit">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary form-control">注册</button>

                            <a href="/" class="btn btn-info">接种者登录</a>
                        </div>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->

        </form>
    </body>
</html>