# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\QQ下载\题目（新冠疫苗接种系统）\新冠疫苗接种系统\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
